{%include "../../includes/header.inc"%}

<h2>Resultados de búsqueda</h2>
<table class='table table-striped'>
  {%if models.main|length > 0%}
    {%for i in models.main%}
      <tr><td><a href='{{i.resource.value}}'>{{i.label.value}} ({{i.typeLabel.value}})</a></td></tr>
    {%endfor%}
  {%else%}
    <div class='alert alert-error'>No se encontró ningún medicamento, tratamiento o principio activo con ese nombre</div>
  {%endif%}
</table>
</body>
</html>
